.clients-list {
  font: 100% $roboto-font-stack;
  text-decoration: none;
  color: $gray;
  .clients-list-item {
    width: 400px;
    border-bottom: 1px solid $light-gray;
    letter-spacing: 3.2px;
    font-size: 0.9rem;
    transition: $fast;
    &:hover {
      color: $dark-gray;
      box-shadow: 0 0.4px $light-gray;
    }
  }
}

.client-card {
  height: 460px;
  width: 400px;
  margin-top: 10%;
  font: 100% $roboto-font-stack;
  color: $dark-gray;
  text-align: center;
  box-shadow: 0 2px 4px 0 $dark-gray;
  transition: $fast;
  &:hover {
    box-shadow: 0 4px 8px 0 $dark-gray;
  }
  .client-card-container {
    height: 100%;
    padding: 1rem;
    position: relative;
    .card-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
    }
    .card-btn {
      margin-top: 400px;
      padding: 0.6rem;
      display: flex;
      justify-content: space-evenly;
      border-top: 1px solid $light-gray;
    }
  }
}

@media (max-width: 650px) {
  .clients-list {
    padding: 3rem;
    .clients-list-item {
      width: 400px;
      font-size: 1.1rem;
    }
  }
}