.clients-list {
  @include center-it;
  width: 100vw;
  max-width: 600px;
  position: absolute;
  top: 45%;
  font: 100% $ubuntu-font-stack;
  color: $gray;
  .clients-list-item {
    max-width: 100%;
    display: flex;
    gap: 5px;
    border-bottom: 1px solid $light-gray;
    font-size: 1.5rem;
    letter-spacing: .6ch;
    transition: $fast;
    &:hover {
      opacity: .5;
    }
  }
}

.client-card {
  @include center-it;
  height: 460px;
  width: 400px;
  font: 100% $ubuntu-font-stack;
  color: $dark-gray;
  text-align: center;
  box-shadow: 0 2px 4px 0 $dark-gray;
  transition: $fast;
  &:hover {
    box-shadow: 0 4px 8px 0 $dark-gray;
  }
  .client-card-container {
    height: 100%;
    padding: 1rem;
    position: relative;
    .card-text {
      @include center-it;
    }
    .card-btn {
      margin-top: 400px;
      padding: 0.6rem;
      display: flex;
      justify-content: space-evenly;
      border-top: 1px solid $light-gray;
    }
  }
}

@media (max-width: 991px) {
  .clients-list {
    padding: 48px;
    .clients-list-item {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 375px) {
  .clients-list {
    .clients-list-item {
      width: 300px;
    }
  }
}