body {
  margin: 0;
  display: flex;
  background: $lighter-gray;
  font: 100% $ubuntu-font-stack;
  @include scrollbars(0.5em, 0.43em, $dark-yellow, $black);
  main {
    margin: 3rem auto;
    padding: 1rem;
  }
  @media (max-width: 650px) {
    main {
      margin-top: 0;
    }
  }
}

ul {
  @include reset-list;
}
