@import
  url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');

.legend {
  width: 100%;
  color: $dark-gray;
  font: 100% $roboto-font-stack;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 375px) {
  .legend {
    width: 100%;
    font-size: 32px;
  }
}