<div class="alert">
  <% if object.errors.any? %>
    <p><%= t('.validation_failed') %></p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>