<% if object.errors.any? %>
  <div id="close" class="popup">
    <h2><%= t('.validation_failed') %></h2>
    <span class="close">&times;</span>
    <div class="content">
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>