<% if object.errors.any? %>
  <div id="modal" class="modal-container">
    <div class="modal-box">
      <h2><%= t('.validation_failed') %></h2>
      <span class="modal-box__close">&times;</span>
      <div>
        <ul>
          <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
