<div class="totally-useless-header">
  <%= link_to root_path, class: 'totally-useless-header__container' do %>
    <p class="totally-useless-header__text">challenge</p>
    <p class="totally-useless-header__number">#1</p>
  <% end %>
</div>
