<div class="totally-useless-header">
  <%= link_to root_path, class: 'totally-useless-header__logo' do %>
    <p class="totally-useless-header__logo-text">challenge</p>
    <p class="totally-useless-header__logo-number">#1</p>
  <% end %>
</div>