<h3 class="header"><%= t('.header') %></h3>
<div class="clients-list">
  <% unless current_user.clients.exists? %>
    <p class=empty-list >
      <%= t('.empty') %>
    </p>
  <% end %>
  <% @clients.each do |client| %>
    <%= link_to client_path(client) do %>
      <ul class="clients-list-item">
        <li><%= "#{client.first_name} #{client.last_name}" %></li>
      </ul>
    <% end %>
  <% end %>
</div>