<% @clients.each do |client| %>
  <%= link_to client_path(client), class:'clients-show' do %>
    <div class="clients-card">
      <div class="clients-card-container">
        <h3><%= "#{ client.first_name } #{client.last_name}" %></h3>
      </div>
    </div>
  <% end %>
<% end %>