<h3 class="header"><%= t('.header') %></h3>
<% unless Client.exists? %>
  <p class="header"><%= t('.empty') %></p>
<% end %>
<% @clients.each do |client| %>
  <%= link_to client_path(client), class:'clients-list' do %>
    <div class="clients-list-item">
      <h3><%= "#{client.first_name} #{client.last_name[0]}." %></h3>
    </div>
  <% end %>
<% end %>