<div class="form">
  <h1 class="form__legend">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    <%= t('.legend') %>
  </h1>
  <%= render 'form', client: @client, url: clients_path %>
  <%= link_to clients_path, class: 'btn btn--link' do %>
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <%= t('.back') %>
  <% end %>
</div>