<div class="card">
  <div class="card-container">
    <h3><%= @client.first_name %></h3>
    <h3><%= @client.last_name %></h3>
    <h5><%= @client.email %></h5>
    <h5><%= @client.mobile_phone %></h5>
  </div>
</div>