@mixin center-it {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin scrollbars($height, $width, $bar, $background) {

  &::-webkit-scrollbar {
    height: $height;
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background: $bar;
  }

  &::-webkit-scrollbar-track {
    background: $background;
  }
}