@mixin center-it {
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mq($size) {

  $md: "(max-width: 768px)";
  $lg: "(max-width: 992px)";
  $xl: "(max-width: 1200px)";

  @if $size == xl {
    @media #{$xl} { @content; }
  }
  @else if $size == lg {
    @media #{$lg} { @content; }
  }
  @else if $size == xl {
    @media #{$md}  { @content; }
  }

}

@mixin scrollbar( $height, 
                  $width,
                  $border-rad,
                  $bar-clr,
                  $bg-clr) {

  &::-webkit-scrollbar {
    height: $height;
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $bar-clr;
    border-radius: $border-rad;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-clr;
    border-radius: $border-rad;
  }
}