// colors
$ice: #D5DBDB;
$lighter-gray: #D0D3D4;
$light-gray: #7F8C8D;
$gray: #424949;
$dark-gray: #2D2D2B;
$yellow: #FFC300;
$dark-yellow: #B7950B;
$white: #ECF0F1;
$black: #141418;

// speed
$fast: 200ms;
$slow: 750ms;

//fonts 
$ubuntu-font-stack: ('Ubuntu', sans-serif);
$roboto-font-stack: ('Roboto', sans-serif);