.form {
  @include center-it;
  width: 420px;
  padding: 1rem;

  &__group {
    margin-bottom: 5px;

    &__input {
      height: 40px;
      width: 100%;
      font: 100% $ubuntu-font-stack;
      font-size: 14px;
      text-align: center;  
      background-color: $ice;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  
    &__label {
      font-size: 14px;
    }
  }
}

.remember {
  margin: 10px 0;
  display: flex;

  &__checkbox {
    height: 15px;
    width: 12px;
    margin: 0 8px;
    cursor: pointer;
  }

  &__input {
    font-size: 0.8rem;
  }
}