.form {
  @include center-it;
  width: 420px;
  padding: 1rem;

  &__group {
    margin-bottom: 5px;

    &__input {
      height: 40px;
      width: 100%;
      font: 100% $ubuntu-font-stack;
      font-size: 14px;
      text-align: center;  
      background-color: $ice;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  
    &__label {
      font-size: 14px;
    }
  }
}

.remember {
  width: 30%;
  margin: 7px 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__checkbox {
    height: 15px;
    width: 15px;
  }

  &__label {
    font-size: 0.9em;
  }
}