.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  12fr;
  grid-template-rows:    1fr  22fr 3fr;
  grid-template-areas:
                        "tuh tuh"
                        "nav chart"
                        "nav chart";

  @include mq(lg) {
    grid-template-areas:
                          "tuh tuh"
                          "chart chart"
                          "nav nav";
  }
}
