.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  12fr;
  grid-template-rows:    1fr  22fr 3fr;
  grid-template-areas:
                        "header header"
                        "navbar main"
                        "navbar main";

  @include mq(lg) {
    grid-template-areas:
                          "header header"
                          "main   main"
                          "navbar navbar";
  }
}
