.navbar {
  grid-area: nav;
  z-index: 1;
  transition: width $fast ease;
  background-color: $dark-gray;

  .navbar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;

    .nav-item {

      &:nth-child(2) { margin-top: auto; }

      .nav-link {
        display: flex;
        align-items: center;
        height: 4rem;
        text-decoration: none;

        svg {
          width: 30px;
          margin-left: 0.75rem;
          color: $light-gray;
        }

        .link-text {
          display: none;
          margin-left: 1rem;
          font-size: 0.8rem;
          color: $gray;
        }

        &:hover { 
          svg { color: $ice; }
          .link-text { display: inline; }
        }
      }
    }
  }
}

/* SMALL SCREENS */
@media (max-width: 991px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 3.8rem;
    .navbar-nav {
      background: $dark-gray;
      flex-direction: row;
      align-items: center;
      .nav-item {
        .nav-link {
          justify-content: space-around;
          &:hover {
            .link-text {
              display: none;
            }
          }
        }
        &:first-child {
          display: none;
        }
      }
    }
  }

  main {
    margin: 0;
  }
}