.totally-useless-header {
  grid-area: tuh;
  position: relative;
  background: $black;
  color: $gray;
  box-shadow: 0 3px 8px 0 $light-gray;
  z-index: 10;

  &__container {
    height: 50%;
    position: absolute;
    @include center-it;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__text {
    font-size: 0.5em;
    letter-spacing: 0.45ch;
    font-weight: bold;
    transition: $fast;

    @include mq(lg) {
      font-size: 0.5em;
    }
  }

  &__number {
    font-size: 0.9em;
    letter-spacing: -0.1ch;
    transition: $slow;

    @include mq(lg) {
      font-size: 1em;
    }
  }

  &:hover & {

    &__text {
      color: $white;
    }

    &__number {
      color: $yellow;
    }
  }
}
