.btn {
  width: 100%;
  font: 100% $poppins-font-stack;
  text-align: center;
  font-size: .9em;
  color: $gray;
  background-color: $ice;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  @include mq(sm) {
    height: 40px !important;
  }

  @include mq(md) {
    font-size: .8em !important;
  }

  &--submit {
    height: 40px;
    margin: 20px 0 15px;
    font-weight: bold;
    transition: $slow;
    box-shadow: 0 1px 3px $light-gray;

    &:hover {
      background-color: $light-gray;
      color: $white;
    }
  }

  &--link {
    @include row;
    font-weight: bold;
    transition: $fast;
    background-color: transparent;

    &:hover {
      color: $light-gray;
    }
  }

  &--card {
    padding: .6rem .8rem;
    @include row;
    justify-content: center;
    background-color: transparent;
    font-size: 1.2em;
    transition: color $slow,
                transform $slow,
                background-color $slow;

    &:hover {
      color: $white;
      box-shadow: 0 0 16px $half-black;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 16px $quarter-black;
    }
  }

  &--edit {
    &:hover {
      background-color: $green;
    }
  }

  &--delete {
    &:hover {
      background-color: $red;
    }
  }

  &--cancel {
    &:hover {
      background-color: $dark-yellow;
    }
  }

  &--tab {
    min-height: 40px;
    padding: 1rem;
    @include row;
    font-weight: bolder;
    color: $ice;
    background-color: $half-black;
    text-shadow: 1px 1px 5px $quarter-black;
    transition: $slow;

    &:hover {
      background-color: $light-gray;
      color: $white;
    }

    @include mq(md) {
      font-size: .6em !important;
    }
  }
}
