.submit-btn {
  height: 40px;
  width: 100%;
  margin: 18px 0;
  font: $roboto-font-stack;
  font-size: 15px;
  background-color: $ice;
  color: $gray;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  cursor: pointer;
  transition: $fast;

  &:hover {
    background-color: $light-gray;
    color: $white;
  }
}

.nav-btn {
  font-size: 14px;
  font-weight: bolder;
  color: $gray;

  &:hover {
    color: $black;
  }
}
