.card-container {
  position: fixed;
  @include center-it;
}

.card {
  width: 75vw;
  height: 70vh;
  padding: .5rem 1rem;
  background-color: $ice;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: $fast;
  color: $quarter-black;
  text-shadow: .2px .2px 1px $gray;
  box-shadow: 0 12px 24px 4px $quarter-black;

  &__title {
    margin: 1rem;
    padding: .3rem .7rem;
    border-radius: 50px;
    transition: $fast;
    cursor: pointer;
    color: $white;
    text-shadow: .5px .5px 2px $white;

    @include mq(md) {
      font-size: .8em;
    }

    &--badge {
      background-color: $dark-yellow;

      &:hover {
        box-shadow: 2px 2px 16px $half-dark-yellow;
      }
    }
  }

  &__info {
    padding: 6px;
    font-size: 1.2em;
    color: $quarter-black;
    text-align: center;

    @include mq(md) {
      font-size: 1em;
    }
  }

  img {
    height: 85%;
    width: 100%;
  }

  &__footer {
    padding: 6px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }
}
