.modal {
  position: absolute;
  @include center-it;
  width: 100vw;
  height: 100vh; 
  background-color: $bg-modal;

  &__popup {
    width: 20rem;
    padding: 30px;
    position: fixed;
    @include center-it;
    background: $ice;
    border-radius: 5px;
    border: none;
    transition: $fast;
    z-index: 20;
    box-shadow: 0  2px 40px $light-gray,
                0  2px 10px $light-gray,
                0  0   40px $dark-gray;

    h2 {
      margin-top: 0;
      color: $gray;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 20px;
      transition: all 200ms;
      font-size: 40px;
      font-weight: bold;
      color: $gray;
      ;
      cursor: pointer;

      &:hover {
        color: $light-gray;
      }
    }

    &:hover {
      box-shadow: 0    0    8px  $light-gray,
                  0    0    16px $light-gray,
                  20px 20px 2px  $dark-gray;
    }
  }
}

.alert {
  position: absolute;
  right: 50%;
  transform: (translateX(50%));
  transition: $slow;
  font-weight: bold;
  font-size: 1.3rem;
  color: $red;
}

.notice {
  margin-top: 16px;
  position: absolute;
  right: 50%;
  transform: (translateX(50%));
  transition: $slow;
  font-size: 1.3rem;
  color: $dark-yellow;
}
