.table-wrapper {
  position: absolute;
  @include center-it;
  @include scrollbar(
    50%,
    5px,
    5px,
    $light-gray,
    $dark-gray
  );

  height: 80%;
  width: 95%;
  border-radius: 10px;
  overflow-x: hidden;
  box-shadow: 1px 1px 10px $gray;

  @include mq(lg) {
    display: none;
  }
}

table {
  padding: 0 0.5rem;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0.2rem;
}

th, td {
  text-align: center;
  box-shadow: 1px 1px 2px $light-gray;
}

th {
  padding: 35px;
  position: sticky;
  top: 3px;
  font-size: 2.5em;
  color: $white;
  background-color: $gray;
  border-radius: 5px;
  z-index: 2;

  &:first-of-type {
    background-color: $dark-gray;
  }
}

.table-row {

  &:hover {
    td {
      background-color: $ice;
      box-shadow: 0   1px 5px $gray,
                  1px 1px  10px $white;
    }
  }
}

td {
  height: 100%;
  width: 100%;
  padding: 24px;
  overflow: hidden;
  white-space: nowrap;
  font-family: $poppins-font-stack;
  font-size: 1.18em;
  text-shadow: .5px .5px 1.5px $dark-gray;
  border-radius: 10px;
  transition: $slow;
  cursor: pointer;

  &:last-of-type {
    @include row;
    justify-content: center;
  }
}

.empty {
  width: 100%;
  padding: 2em;
  font-size: 2em;
  text-align: center;
  color: $gray;
  border: 2px solid $light-gray;
  border-radius: 10px;
}
