.table-wrapper {
  @include center-it;
  @include scrollbar(
    50%,
    8px,
    5px,
    $dark-yellow,
    $dark-gray
  );
  max-height: 80%;
  min-width: 80%;
  margin: 20px 0 0 40px;
  overflow-x: hidden;
}

table {
  border-collapse: separate;
}

th, td {
  padding: 10px 50px;
  text-align: center;
}

th {
  position: sticky;
  top: -1px;
  font-size: 3em;
  background-color: $light-gray;
  border-radius: 10px 0;
  z-index: 2;

  &:first-of-type {
    background-color: $dark-yellow;
  }
}

td {
  width: 100%;
  border-spacing: px;
  word-wrap: break-word;
  font-size: 1.2em;
  background-color: $ice;
  border-radius: 10px;
  overflow: hidden;
}

.empty {
  width: 100%;
  padding: 2em;
  font-size: 2em;
  text-align: center;
  color: $gray;
  border: 2px solid $light-gray;
  border-radius: 10px;
}
