@import "variables";
@import "navbar";
@import "clients";
@import "forms";
@import "text";
@import "buttons";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;	
}

body { 
  height: 100vh;
  display: flex;
  background: $lighter-gray;
  font: 100% $ubuntu-font-stack;
}

body::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.43rem;
}

body::-webkit-scrollbar-track {
  background: $black;
}

body::-webkit-scrollbar-thumb {
  background: $dark-yellow;
}

main {
  margin: 3rem auto;
  padding: 1rem;
}

@media (max-width: 650px) {
  main {
    margin-top: 0;  
  }
}