.submit-btn {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--ice);
  color: var(--gray);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--fast);
  &:hover {
    background-color: var(--light-gray);
    color: var(--white);
  }
}

.nav-btn {
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
  color: var(--gray);
  &:hover {
    color: var(--black);
  }
}



