.btn {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: var(--btn);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-speed);
  &:hover {
    background-color: var(--text-primary);
    color: var(--logo-text-hover);
  }
}

.btn-link {
  font-size: 14px;
  text-decoration: none;
  color: var(--text-primary);
  &:hover {
    color: var(--logo-text);
  }
}

.btn-card {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--text-primary);
}