.clients-list {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--bg-nav);
  .clients-list-card {
    width: 400px;
    margin-bottom: 0.8rem;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text-primary);
    letter-spacing: 3.2px;
    font-size: 0.9rem;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0.4px var(--text-primary);
    }
  }  
} 

.client-card {
  height: 460px;
  width: 400px;
  margin-bottom: 0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  box-shadow: 0 4px 8px 0 var(--card-shadow);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 var(--card-shadow);
  }
  .client-card-container {
    padding: 1rem;
  }
}

@media (max-width: 650px) {
  .clients-show {
    .clients-card {
      width: 500px;
      font-size: 1.1rem; 
    }   
  } 
}