.form-container {
  margin-top: 4rem;
  .form {
    margin-bottom: 5px;
    .field {
      height: 40px;
      width: 360px;
      padding-left: 10px;
      font: 100% $roboto-font-stack;
      font-size: 14px;  
      background-color: $ice;
      border-radius: 5px;
      border: none;
      outline: none;
    }
    .label {
      font-size: 14px;
    }
  }
}
.remember {
  margin: 10px 0;
  display: flex;
  .checkbox {
    height: 15px;
    width: 12px;
    margin: 0 8px;
    cursor: pointer;
  }
  .label {
    font-size: 0.8rem;
  }
}  

@media (max-width: 650px) {
  .form-container {
    margin-top: 7rem;
  } 
}