.form {
  .field {
    height: 45px;
    width: 400px;
    font-size: 1rem;    
    background-color: var(--bg-primary);
    border-radius: 5px;
    text-align: center;
    outline: none;
  }
}
.btn {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 1rem;
  background-color: var(--btn-inactive);
  color: white;
  border: none;
  cursor: pointer;
  transition: var(--transition-speed);
  &:hover {
    background-color: var(--btn-active);
  }
}