.form {
  margin-bottom: 5px;
  .field {
    height: 40px;
    width: 360px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    background-color: var(--ice);
    border: none;
    border-radius: 5px;
    outline: none;
  }
}