.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  .navbar-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    .nav-item {
      width: 100%;
      .logo {
        display: flex;
        height: 4rem;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 1rem;
        background: var(--logo-bg);
        color: var(--logo-text);
        font-size: 1.1rem;
        letter-spacing: 0.3ch;
        width: 100%;
        transition: var(--transition-speed);
        &:hover {
          .logo-text {
            color: var(--logo-text-hover);
          }
          .logo-no {
            color: var(--logo-no);
          }
        }  
      }
      .nav-link {
        display: flex;
        align-items: center;
        height: 4rem;
        text-decoration: none;
        transition: var(--transition-speed);
        color: var(--text-primary);
        &:hover {
          color: var(--text-secondary);
        }
        svg {
          min-width: 1.5rem;
          margin-left: 0.75rem;
        }  
        .link-text {
          margin-left: 1.3rem;  
        }
      }       
    }       
  }
}

/* SMALL SCREENS */
@media (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 3.8rem;
    .navbar-nav {
      background: var(--bg-secondary);
      flex-direction: row;
      .nav-item {
        .nav-link {
          justify-content: center;
          .link-text {
            display: none;
          }
        }
        &:first-child { 
          display: none;
        }   	
      }       
    }       
  }

  main {
    margin: 0;
  }
}

/* LARGE SCREENS */
@media (min-width: 600px) {
  .navbar {
    top: 0;
    width: 10rem;
    height: 100vh;
    .nav-item:last-child {
      margin-top: auto;
    }
  } 
}