.navbar {
  position: fixed;
  .navbar-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    .nav-item {
      width: 100%;
      .logo {
        display: flex;
        height: 4.5rem;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        margin-bottom: 1rem;
        background: var(--logo-bg);
        color: var(--logo-text);
        width: 100%;
        &:hover {
          .logo-text {           
            color: var(--logo-text-hover);
          }
          .logo-no {
            transition: var(--transition-speed);
            color: var(--logo-no);
          }
        }
        .logo-text {   
          font-weight: bold;        
          font-size: 1rem;
          letter-spacing: 0.45ch;
        } 
        .logo-no {
          font-size: 1.7rem; 
          letter-spacing: -0.2ch;          
        } 
      }
      .nav-link {
        display: flex;
        align-items: center;
        height: 4rem;
        text-decoration: none;
        transition: var(--transition-speed);
        color: var(--text-primary);
        &:hover {
          color: var(--text-secondary);
        }
        svg {
          min-width: 1.5rem;
          margin-left: 0.75rem;
        }  
        .link-text {
          margin-left: 1.3rem;  
        }
      }       
    }       
  }
}

/* SMALL SCREENS */
@media (max-width: 650px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 3.8rem;
    .navbar-nav {
      background: var(--bg-nav);
      flex-direction: row;
      .nav-item {
        .nav-link {
          justify-content: center;
          .link-text {
            display: none;
          }
        }
        &:first-child { 
          display: none;
        }   	
      }       
    }       
  }

  main {
    margin: 0;
  }
}

/* LARGE SCREENS */
@media (min-width: 650px) {
  .navbar {
    top: 0;
    width: 10rem;
    height: 100vh;
    background-color: var(--bg-nav);    
    .nav-item:last-child {
      margin-top: auto;
    }
  }
  
  main {
    margin-left: 10rem;
  }
}