* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* ### variables ### */
  --text-primary: #7F8C8D;
  --text-secondary: #B7950B;
  --logo-text: #424949;
  --logo-text-hover: #ECF0F1;
  --logo-no: #FFC300;
  --logo-bg: #141418;
  --bg-primary: #ECF0F1;
  --bg-secondary: #D0D3D4;
  --bg-nav: #2D2D2B;
  --card-shadow: #979A9A;
  --transition-speed: 750ms;	
}

:root {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.43rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #b7950b;
}