
* {
  --text-primary: #7F8C8D;
  --text-secondary: #B7950B;
  --logo-text: #424949;
  --logo-text-hover: #ECF0F1;
  --logo-no: #FFC300;
  --logo-bg: #141418;
  --bg-primary: #ECF0F1;
  --bg-secondary: #D0D3D4;
  --transition-speed: 800ms;	
}