<!DOCTYPE html>
<html>
  <head>
    <title>Gabas</title>
    <%= render 'shared/rails_default' %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
